<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860497077783-shrt3l5r6iq5vppk9bis5ierj8m5uuse.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860497077783-shrt3l5r6iq5vppk9bis5ierj8m5uuse</string>
	<key>API_KEY</key>
	<string>AIzaSyAWazzuKT5uDIaN4alIfKWLmsn2G0YZtTk</string>
	<key>GCM_SENDER_ID</key>
	<string>860497077783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.dwfms</string>
	<key>PROJECT_ID</key>
	<string>ubismaster</string>
	<key>STORAGE_BUCKET</key>
	<string>ubismaster.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860497077783:ios:9e9bf642d3dc687ed01e52</string>
	<key>DATABASE_URL</key>
	<string>https://ubismaster.firebaseio.com</string>
</dict>
</plist>